@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/*  estilos generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Monserrat' , sans-serif !important;
    overflow-x: hidden !important;
}

.size_card_detail{
    height: 450px !important;
}



.mainStats{
    min-height: 70vh;
}

.footerStats{
    min-height: 15vh;
}

.cont_table{
    padding: 5% 0;
}

.table_resp{
    width: 100%;
}

#active{
    color: rgba(255, 0, 0, 0.568);
    background-color: white;
}


/* ==========MEDIA QUERIES=========== */

@media only screen and (min-width: 1200px) {
    .carousel-inner{
        height:auto !important;
    }
    
}

@media  (max-width:768px) {
    .carousel-inner{
        height:auto !important;
    }
    .section{
        align-items: center;
    }
    .table_resp{
        margin: 2px;
        font-size: small;
    }
}

@media  screen and (max-width:450px) {
    .section{
        justify-content: center;
        align-items: center;
    }
}