@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/*  estilos generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Monserrat' , sans-serif !important;
    overflow-x: hidden !important;
}

.size_card_detail{
    height: 450px !important;
}

.active{
    color: darkred !important;
    background-color: white !important;
}

/* ==========MEDIA QUERIES=========== */

@media only screen and (min-width: 1200px) {
    .carousel-inner{
        height:10em !important;
    }
    
}

@media  (max-width:768px) {
    .carousel-inner{
        height:10em !important;
    }
    .section{
        align-items: center;
    }
}

@media  screen and (max-width:450px) {
    .section{
        justify-content: center;
        align-items: center;
    }
}